html,body {
    height:100%;
}

body {
    font-family: Helvetica,Arial,sans-serif;
}

#header {
	position: relative;
    background: white;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    
	font-size: 300%;
	text-align: left;
	background-color: #00a1e0;
	color: #ffffff;
	padding: 50px;
}

#footer {
	position: relative;
    background: white;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
    
	font-size: 100%;
	text-align: center;
	background-color: #00a1e0;
	color: #ffffff;
	padding: 20px;
}

#search {
	padding: 20px;
}

#tweetlistul {
	list-style: none;
}

.tweet {
	min-height: 150px;
}

.tweet-left {
}

.tweet-right {
}

.tweet-profile {
}

.tweetusername {
	font-weight: bold;
	color: #00a1e0;
}

.tweetscreenname {
	font-weight: bold;
	font-size: 90%;
	color: 657786;
}


.tweet-date {
	font-size: 80%;
}

.tweet-text {
	float:none;
	padding: 20px;
	font-weight: bold;
	color: #555555;
}

.tweetimage {
	max-height: 200px;
}

.tweet-metadata {
	font-size: 80%;
}

.tweetlistli {
    position: relative;
    padding: 10px;
    margin: 10px;
    background: white;
    border: 1px solid #dddbda;
    border-radius: 0.25rem;
    background-clip: padding-box;
    box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.1);
}